# Assignment 

## Churn Prediction Analysis

In this assignment, we are going to predict customer churn for a telecom company using the K-Nearest Neighbor algorithm.

# Setup

Import python libraries

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

%matplotlib inline
filepath = "D:\\UTAR\\Degree\\Y3S1\\Artificial Intelligence\\AI_Practical_Github\\AI_Week 4\\Topic_2_Introduction_To_Supervised_Learning_Notebook_Questions\\Churn.csv"

# Exercise 1

Load the csv file called 'Churn.csv' using pandas and assign it to a variable called df. (hint: pd.read_csv?) Look at the first 10 rows of the data set. (hint: df.head?)

In [26]:
df = pd.read_csv(filepath)
df.head( 10)

,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,0.0,1.0,25.0,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3.0,2.70,1.0,False
1,0.0,1.0,26.0,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,NaN,NaN,3.0,3.70,1.0,False
2,0.0,0.0,0.0,243.4,114.0,41.38,121.2,NaN,10.30,162.6,104.0,7.32,12.2,5.0,3.29,0.0,False
3,1.0,0.0,0.0,299.4,NaN,50.90,61.9,88.0,5.26,NaN,89.0,8.86,6.6,7.0,1.78,2.0,False
4,1.0,0.0,0.0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3.0,2.73,3.0,False
5,1.0,0.0,0.0,NaN,98.0,37.98,220.6,101.0,18.75,203.9,118.0,9.18,6.3,6.0,1.70,0.0,False
6,0.0,NaN,24.0,218.2,88.0,NaN,348.5,108.0,29.62,212.6,118.0,9.57,7.5,7.0,2.03,3.0,False
7,1.0,0.0,0.0,157.0,79.0,26.69,103.1,94.0,8.76,211.8,96.0,9.53,7.1,6.0,1.92,0.0,False
8,0.0,0.0,0.0,184.5,97.0,31.37,351.6,80.0,29.89,215.8,90.0,9.71,8.7,4.0,2.35,1.0,False
9,1.0,1.0,37.0,258.6,84.0,43.96,222.0,111.0,18.87,326.4,97.0,14.69,11.2,5.0,NaN,NaN,False

# Exercise 2: 

Which column indicates whether the user has churned? How many users are there in your dataset? (hint: len?)

In [27]:
total_user_in_dataframe = len(df)
print ("Total number of users in the dataframe: ", total_user_in_dataframe)

Total number of users in the dataframe:  5000

# Exercise 3:

Use df.describe() to explore each column. Why is the count different for each column and not equal to 5000?

In [28]:
df.describe()

,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
count,4815.000000,4597.000000,4839.000000,4630.000000,4621.000000,4663.000000,4894.000000,4565.000000,4624.000000,4537.000000,4822.000000,4904.000000,4691.000000,4680.000000,4697.000000,4593.000000
mean,0.095119,0.263215,7.753255,180.353024,100.102575,30.709348,200.652166,100.356407,17.047641,200.144523,99.960390,9.015475,10.261224,4.432265,2.766934,1.568909
std,0.293410,0.440426,13.525422,53.902352,19.819299,9.164254,50.513622,19.850245,4.284928,50.936037,19.998369,2.275332,2.760720,2.458918,0.745717,1.303008
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,143.700000,87.000000,24.430000,166.425000,87.000000,14.157500,166.700000,87.000000,7.510000,8.500000,3.000000,2.300000,1.000000
50%,0.000000,0.000000,0.000000,180.100000,100.000000,30.670000,201.000000,101.000000,17.060000,200.300000,100.000000,9.020000,10.300000,4.000000,2.780000,1.000000
75%,0.000000,1.000000,17.000000,216.275000,113.000000,36.860000,233.900000,114.000000,19.860000,234.600000,113.000000,10.540000,12.000000,6.000000,3.240000,2.000000
max,1.000000,1.000000,52.000000,351.500000,165.000000,59.760000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

# Exercise 4: 

Fill the missing numbers with the median of the whole dataset! (hint: df.fillna?) Check to see if the counts for all columns is now 5000.

In [30]:
df.median()

intl_plan                          0.00
voice_mail_plan                    0.00
number_vmail_messages              0.00
total_day_minutes                180.10
total_day_calls                  100.00
total_day_charge                  30.67
total_eve_minutes                201.00
total_eve_calls                  101.00
total_eve_charge                  17.06
total_night_minutes              200.30
total_night_calls                100.00
total_night_charge                 9.02
total_intl_minutes                10.30
total_intl_calls                   4.00
total_intl_charge                  2.78
number_customer_service_calls      1.00
churned                            0.00
dtype: float64

In [31]:
df_filled = df.fillna(value=df.median())
df_filled.describe()

,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
count,5000.000000,5000.000000,5000.00000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,0.091600,0.242000,7.50360,180.334300,100.09480,30.706696,200.659540,100.412400,17.048570,200.158920,99.961800,9.015562,10.263620,4.404600,2.767726,1.522600
std,0.288489,0.428337,13.37606,51.869264,19.05321,8.849973,49.975226,18.967801,4.120634,48.519944,19.639101,2.253379,2.674052,2.381267,0.722771,1.258494
min,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.00000,146.775000,88.00000,24.890000,167.200000,89.000000,14.340000,170.200000,87.000000,7.540000,8.700000,3.000000,2.350000,1.000000
50%,0.000000,0.000000,0.00000,180.100000,100.00000,30.670000,201.000000,101.000000,17.060000,200.300000,100.000000,9.020000,10.300000,4.000000,2.780000,1.000000
75%,0.000000,0.000000,14.00000,213.725000,112.00000,36.410000,233.200000,112.000000,19.590000,229.900000,113.000000,10.500000,11.900000,5.000000,3.210000,2.000000
max,1.000000,1.000000,52.00000,351.500000,165.00000,59.760000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

# Exercise 5:

Separate the data into the features and labels. Assign the features to variable X and labels to variable y.

In [35]:
x = df_filled.copy() # x is the variable for features
y = df_filled.churned # y is the variable for prediction
del x['churned']
x.describe ()

,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
count,5000.000000,5000.000000,5000.00000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,0.091600,0.242000,7.50360,180.334300,100.09480,30.706696,200.659540,100.412400,17.048570,200.158920,99.961800,9.015562,10.263620,4.404600,2.767726,1.522600
std,0.288489,0.428337,13.37606,51.869264,19.05321,8.849973,49.975226,18.967801,4.120634,48.519944,19.639101,2.253379,2.674052,2.381267,0.722771,1.258494
min,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.00000,146.775000,88.00000,24.890000,167.200000,89.000000,14.340000,170.200000,87.000000,7.540000,8.700000,3.000000,2.350000,1.000000
50%,0.000000,0.000000,0.00000,180.100000,100.00000,30.670000,201.000000,101.000000,17.060000,200.300000,100.000000,9.020000,10.300000,4.000000,2.780000,1.000000
75%,0.000000,0.000000,14.00000,213.725000,112.00000,36.410000,233.200000,112.000000,19.590000,229.900000,113.000000,10.500000,11.900000,5.000000,3.210000,2.000000
max,1.000000,1.000000,52.00000,351.500000,165.00000,59.760000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

# Exercise 6: 

Split the data into 70% training set and 30% test set and assign them to variables named X_train, X_test, y_train, y_test (hint: train_test_split?)

In [40]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
# random_state = used to ensure that the split is always the same (Dont use it if you want to randomize the split)
x_train.head(10)

,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
3216,0.0,1.0,24.0,180.5,85.0,30.69,224.1,92.0,19.05,200.3,103.0,9.26,2.4,3.0,0.65,0.0
347,0.0,0.0,0.0,220.6,117.0,37.50,155.2,121.0,13.19,186.7,89.0,8.40,10.5,11.0,2.84,1.0
3799,0.0,0.0,38.0,180.1,108.0,23.77,58.3,120.0,4.96,203.4,160.0,9.15,10.3,1.0,2.62,3.0
392,0.0,0.0,0.0,206.5,92.0,35.11,176.2,152.0,14.98,232.8,115.0,10.48,12.4,5.0,3.35,5.0
2663,0.0,0.0,0.0,169.8,123.0,28.87,183.1,94.0,15.56,395.0,72.0,17.77,12.7,7.0,3.43,2.0
280,0.0,0.0,0.0,172.3,97.0,29.29,174.0,108.0,14.79,188.2,100.0,8.47,13.0,4.0,3.51,2.0
2701,1.0,0.0,0.0,208.7,84.0,35.48,173.3,88.0,14.73,264.7,107.0,9.02,8.3,3.0,2.24,3.0
4192,0.0,1.0,36.0,93.1,68.0,15.83,246.1,83.0,20.92,94.9,109.0,4.27,8.7,8.0,2.35,1.0
3420,0.0,0.0,0.0,198.0,90.0,33.66,186.4,102.0,15.84,219.2,90.0,9.86,9.3,2.0,2.51,1.0
1351,0.0,0.0,0.0,58.4,121.0,9.93,262.2,64.0,17.06,159.0,115.0,7.15,11.9,5.0,3.21,1.0

# Exercise 7: 

Create a N-Nearest Neighbors classifier of 5 neighbors. (hint: KNeighborsClassifier?)

In [42]:
KNN = KNeighborsClassifier(n_neighbors=5)

# Exercise 8:

Fit the model to the training set. (hint: knn.fit?)

In [43]:
KNN.fit(x_train, y_train)

KNeighborsClassifier()

# Exercise 9:

Use the model to make a prediction on the test set. Assign the prediction to a variable named y_pred

In [44]:
y_predict = KNN.predict(x_test)

# Exercise 10:

Determine how accurate your model is at making predictions. (hint: accuracy_score?)

In [46]:
accuracy_score(y_test, y_predict)

0.8873333333333333

# Exercise 11 (Optional)

Try different number of k neighbors between 1 and 10 and see if you find a better result

In [47]:
KNN = KNeighborsClassifier(n_neighbors=1)
KNN.fit(x_test, y_test)
y_predict = KNN.predict(x_test)
accuracy_score(y_test, y_predict)

1.0